{% load static %}

<html lang="ru">
    <head>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NETCleaner</title>
        <link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/polit_konf.css' %}">

    </head>

    <body>

        <div class="random_pixels" id="left_pixels"></div>
        <div class="gradient_overlay_left"></div>
  
        <div class="main">
          <div class="logo_size">
            <a href="{% url 'index' %}">
              <span id="logo">NETCleaner</span>
              <script src="{% static 'utils/LogoAnimation.js' %}"></script>
            </a>
          </div>
  
          <div class="logo_size">
            <span id="under_logo">Политика конфиденциальности</span>
          </div>

         <div class="all_text">
          <div class="table_text_colum">
            <table>
              <tr>
                <td>Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам. если у вас возникнут какие-либо вопросы.</td>
                <td>Мы не раскрываем полученную от Вас информацию третьим лицам. </td>
              </tr>
              <tr>
                <td>Мы не раскрываем полученную от Вас информацию третьим лицам. </td>
                <td>Исключения:</td>
              </tr>
              <tr>
                <td>Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним.</td>
                <td>•	В случае если необходимо - в соответствии с законом, судебным порядком, в судебном разбирательстве, и/или на основании публичных запросов или запросов от государственных органов на территории РФ - раскрыть вашу персональную информацию. Мы также можем раскрывать информацию о вас если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка, или иных общественно важных случаях.</td>
              </tr>
              <tr>
                <td>От вас может быть запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами.
                  Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию.
                </td>
                <td>•	В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу - правопреемнику.</td>
              </tr>
              <tr>
                <td>Какую персональную информацию мы собираем:</td>
                <td>Защита персональной информации</td>
              </tr>
              <tr>
                <td>Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и т.д.
                  Как мы используем вашу персональную информацию:
                </td>
                <td>Мы предпринимаем меры предосторожности - включая административные, технические и физические - для защиты вашей персональной информации от утраты, кражи, и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.</td>
              </tr>
              <tr>
                <td>Раскрытие информации третьим лицам</td>
              </tr>
            </table>  
          </div>
         </div>      

        </div>

        <div class="gradient_overlay_right"></div>
        <div class="random_pixels" id="right_pixels"></div>
        <script src="{% static 'utils/BackgroundPixels.js' %}"></script>
  
      </body>
</html>